/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* MAKE IMAGES EASIER TO WORK WITH */
img {
    max-width: 100%;
    object-fit: cover;
}

/* FLEX UTILITY CLASS */
.flex {
    display: flex;
}

/* CONTAINER */
.container {
    width: 800px;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    padding-left: 1.5rem;
}

h2 {
    text-align: center;
    margin: 1rem;
}

/* PROFILE INFO */
.col-1 {
    flex: 1;
    justify-content: flex-start;;
}

.my-profile {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 0 2rem;
    height: 15rem;
}

.my-profile img {
    height: 5rem;
}

/* USER FEED */
.col-2 {
    flex: 2;
}

.user-card {
    border: 2px solid black;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
}

.username-likes {
    justify-content: space-between;
    margin: 1rem;
}

.like-box {
    justify-content: space-between;
}

.like-box p {
    margin-right: 1rem;
    /* align-items: center; */
}

.btn {
    background-color: rgb(255,216,103);
    padding: 0 1rem;
    box-shadow: 2px 1px 3px black;
    cursor: pointer;
}

.description {
    margin: 0 1rem 1rem;
}
